* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #c5d6f4;
    align-items: center;
    font-family: "Lilita One", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}


header{
    color:  #4251f4;
    font-family: "Sigmar", serif;
    margin-bottom: 20px;
    font-size: 23px;
    display: flex;
    justify-content: center;
}

header, form, .container-lista {
    max-width: 900px;
    margin: 16px auto;
    width: 100%;
}

.container, .container-form {
    margin-left: 16px;
    display: flex;
    align-items: center;
    list-style: none;
}


header div img{
    margin-left: 10px;
    height: 100px;
}

form input, form button{
    font-family: "Lilita One", sans-serif;
    border: none;
    font-size: 16px;
}

form input{
    padding: 10px;
    border-radius: 30px;
    color: #77acf2;
    outline: 1px outset #77acf2;
    margin-right:5px;
    width: 100%;
}

form input:focus{
    outline: 1px inset #77acf2;
}

form input::placeholder{
    color: #77acf2;
}

form button{
    font-weight: 100;
    padding: 11px;
    cursor: pointer;
    background-color: #4251f4;
    border-radius: 30px;
    margin-left: 5px;
    color: #fff;
}

.lista-de-tarefas {
    list-style: none;
    width: 100%;
}

.container-lista {
    text-align: center;
}

.container-lista h2{
    width: 100%;
    color: #4251f4;
    font-size: 28px;
    font-weight: 100;
    border-bottom: 2px dashed #2674da83;
    margin-bottom: 5px;
}

.lista-de-tarefas li a{
    text-decoration: none;
    margin-top: 2px;
    color: #2674dabb;
    border-bottom: 1px groove #2674da2e;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}
